[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/Vimux/Mainroad.git
[submodule "public"]
	path = public
	url = https://github.com/piotr-rusin/piotr-rusin.github.io.git
	branch = master
[submodule "themes/rtw"]
	path = themes/rtw
	url = https://github.com/piotr-rusin/rtw-theme.git
