[submodule "public"]
	path = public
	url = https://github.com/piotr-rusin/piotr-rusin.github.io.git
	branch = master
[submodule "themes/rtw-2020"]
	path = themes/rtw-2020
	url = https://github.com/piotr-rusin/rtw-2020.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
