{{ define "main" }}
	{{ if or .Title .Content }}
	<div>
		{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
		{{ with .Content }}<div>{{ . }}</div>{{ end }}
	</div>
	{{ end }}

	{{ range (.Site.RegularPages.GroupByDate "2006")  }}
	{{ if (where .Pages "Section" "posts") }}
	<h2>Posts in {{ .Key }}</h2>
	<ul class="no-bullets">
		{{ range ((where .Pages "Section" "posts")) }}
		<li>
			<a href="{{ .RelPermalink }}">
				{{ .PublishDate.Format "Jan 02" }} : {{ .Title }}
			</a>
		</li>
		{{ end }}
	</ul>
	{{ end }}
	{{ end }}
{{ end }}
